@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;500&display=swap');
:root{
    --main: #A2D6F9;
    --dark: #002A32;
    --grey: #655560;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.maincol{
    background-color: var(--main);
}

.wrap{
    top: 0;
    left: 0;
    padding-right: 20px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a{
    text-decoration: none;
    color: black;
}

nav a::after{
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: black;
    transition: all 0.3s;
}

nav a:hover::after{
    width: 100%;
    transition: all 0.3s;
}

body{
    width: 100vw;
}

.scrolled{
    background-color: white;
    box-shadow: 0px 0px 10px black;
}


.mwid{
    margin: auto;
    padding: 20px;
    max-width: 1180px;
}

.adv-wrap::after, .wrap::after, .hero-wrap::after, .about-wrap::after{
    position:absolute;
    margin-top: auto;
    display: block;
    content: '';
    width: 100vw;
    height: 1px;
    background-color: var(--dark);
}