:root{
    --main: #A2D6F9;
    --dark: #002A32;
    --grey: #655560;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.maincol{
    background-color: var(--main);
}

.wrap::after, .hero-wrap::after{
    position:absolute;
    content: '';
    width: 100vw;
    height: 1px;
    background-color: var(--dark);
}

.mwid{
    margin: auto;
    padding: 20px;
    max-width: 1180px;
}

h2{
    font-weight: normal;
    text-align: center;
}

/* Header */
.wrap{
    padding-right: 20px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a{
    text-decoration: none;
    color: black;
}

nav a::after{
    display: block;
    content: '';
    width: 0%;
    height: 1px;
    background-color: black;
    transition: all 0.3s;
}

nav a:hover::after{
    width: 100%;
    transition: all 0.3s;
}

body{
    width: 100vw;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 150px 0 80px 0;
    font-size: 90px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-left p{
    font-size: 23px;
    width: 70%;
    text-align: center;
}

.hero-btn{
    font-size: 19px;
    width: fit-content;
    width: -moz-fit-content;
}

.btn a{
    background-color: var(--dark);
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    color: white;
}

.scrolled{
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

/* Section 1 */
.section .cont{
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section::after{
    position: absolute;
    content: '';
    width: 100vw;
    height: 1px;
    background-color: var(--grey);
}

.section ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.section span{
    font-size: 30px;
    color: rgba(128, 128, 128, 0.361);
}

.section li{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 40%;
}

.li-cont{
    font-size: 30px;
}

.li-cont p{
    font-size: 20px;
}

/* Footer */
.foot-cont{
    background-color: var(--dark);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 10vh;
}

footer{
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    gap: 7px;
}

.foot-cont p{
    font-size: small;
    font-weight: 100;
}

footer span{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    header{
        display: block;
    }

    h1{
        display: none;
    }

    nav ul{
        gap: 0;
        justify-content: space-evenly;
    }

    .hero-left p{
        display: none;
    }

    .hero-left h2{
        text-align: center;
        font-size: 50px;
    }

    .section ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .section li{
        width: 100%;
    }

}